html {
  background: url('http://musicments.com/img/d_default/green-grass-blue-sky/green-grass-blue-sky-cielo-5c74c00a22160.jpg') no-repeat center center fixed;
}

.timerC{
  grid-column: 8;
  grid-row: 1;
  display: grid;
}
