<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type = "text/css">
    #target {position: absolute; top: 0px; left: 0px;}
    </style>
  <link rel="stylesheet" type="text/css" href="../css/GameStyle.css">
  </head>
  <body>
    <div class="container">
      <p id="timer"></p>
    </div>
    <img id="target" src="https://cdn.clipart.email/1aecd67ce12fc82c8b8c07f81eeb9a4c_target-clip-art-at-clkercom-vector-clip-art-online-royalty-_570-599.png" height="100" width="100" onclick = "changeImg()"/>
    <script type="text/javascript" src="../js/gameindex.js"></script>
  </body>
</html>
