<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Shooting Range Game</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container">
        <h1>Shooting Range</h1>
        <img class="target" id = "Bullseye" src="https://cdn.clipart.email/1aecd67ce12fc82c8b8c07f81eeb9a4c_target-clip-art-at-clkercom-vector-clip-art-online-royalty-_570-599.png"/>
        <button class="startBtn" >Start</button>
        <ScoreBoard class="score">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ScoreBoard>
    </div>






  </body>
