<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" type="text/css" href="../css/GameStyle.css">
  </head>
  <body>
    <button onclick="getElementById('test').innerHTML = ()">This will show date when clicked.</button>
    <div class="container">
      <p id="timer"></p>
      <div id = "my_target">

        <input type="image" id="target" grid-column=6 grid-row=4 src="https://cdn.clipart.email/1aecd67ce12fc82c8b8c07f81eeb9a4c_target-clip-art-at-clkercom-vector-clip-art-online-royalty-_570-599.png">

      </div>
    </div>
    <script type="text/javascript" src="../js/gameindex.js"></script>
  </body>
