<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Shooting Range Home</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container">
        <h2 id="timer"></h2>
        <h1>Shooting Range</h1>
        <img class="target" id = "Bullseye" src="https://cdn.clipart.email/1aecd67ce12fc82c8b8c07f81eeb9a4c_target-clip-art-at-clkercom-vector-clip-art-online-royalty-_570-599.png"/>
        <button onclick="location.href = '/shooting-range';" class="startBtn">Start</button>
    </div>
    <script type="text/javascript" src="../js/index.js"></script>
  </body>
